<div class="flex flex-row items-center mt-4 p-6 bg-zinc-100 border border-slate-200 rounded-lg">
  <div class="flex-grow">
    <p class="text-lg"><%= beer.name %></p>
    <p class="text-sm"><%= beer.tagline %></p>
  </div>
  <div class="">
    <%= link_to "Details", beer, class: "p-3 shadow-slate-500 shadow-lg rounded bg-stone-200 hover:bg-stone-300 text-center" %>
  </div>
</div>
