<div class="flex justify-center pt-32 px-32 text-xl">
  <form action="<%= beers_path %>" method="get">
    <input type="text" name="query" value="<%= params[:query] %>" class="p-3 w-full border border-solid rounded-lg">
    <input type=submit value="Search" class="mt-8 py-3 shadow-slate-700 shadow-lg rounded bg-amber-700 hover:bg-amber-800 text-center w-full">
  </form>
</div>
