<div class="w-3/5">
  <h1 class="text-2xl text-center">Beers matching "<%= params[:query] %>"</h1>

  <div id="beers">
    <% @beers.each do |beer| %>
      <%= render partial: "item", locals: {beer:} %>
    <% end %>
  </div>
</div>

